<div class="container mt-4">
  <h1>Edit Campaign</h1>

  <%= form_with(model: @campaign, local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :status, class: "form-label" %>
      <%= f.select :status, Campaign.statuses.keys, {}, class: "form-select" %>
    </div>

    <%= f.submit "Update Campaign", class: "btn btn-primary" %>
  <% end %>
</div>
