<% @images.each do |image| %>
  <div class="card mb-3 p-3">
    <% if image.file.attached? %>
      <%= image_tag image.file, width: 300 %>
    <% end %>

    <p><strong>Campaign:</strong> <%= image.campaign.name %></p>
    
    <div class="d-flex gap-2">
      <% if current_user.has_permission?("approve:image") %>
        <%= form_with url: approve_image_path(image), method: :post do %>
          <%= submit_tag "Approve", class: "btn btn-success" %>
        <% end %>
      <% elsif current_user.client? %>
        <%= button_to "✔️", approve_image_path(image), method: :post,
    class: "btn btn-sm me-2 #{image.status == 'approved' ? 'btn-success' : 'btn-outline-success'}" %>
      <% end %>

      <% if current_user.has_permission?("reject:image") %>
        <%= form_with url: reject_image_path(image), method: :post, local: true do |f| %>
          <%= hidden_field_tag "image[status]", "rejected" %>
          <%= text_field_tag "image[rejection_reason]", nil, placeholder: "Reason", class: "form-control me-2" %>
          <%= submit_tag "Reject", class: "btn btn-danger" %>
        <% end %>
      <% elsif current_user.client? %>
        <input type="text" class="form-control me-2" placeholder="Reason" disabled />
          <%= button_to "❌", reject_image_path(image), method: :post,
    class: "btn btn-sm #{image.status == 'rejected' ? 'btn-danger' : 'btn-outline-danger'}" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mt-4 text-center">
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
</div

